body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(red, green, blue, alpha);
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input{
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button:hover {
    background-color: #4caefc;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 10px;
    background-color: #eee;
    margin: 10px 0;
    border-radius: 5px;
}